{% extends 'base.html' %}
{% block conteudo %}
<h1>Novo Veiculo</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <form action="/viagens/veiculo/create/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputEmail1">Categoria:</label>
                    <div class="col-12">
                        {{form.categoria}}
                        {{form.categoria.errors}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Chassi:</label>
                    <div class="col-12">
                        {{form.chassi}}
                        {{form.chassi.errors}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Qtd_pessoas:</label>
                    <div class="col-12">
                        {{form.qtd_pessoas}}
                        {{form.qtd_pessoas.errors}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Km_rodados:</label>
                    <div class="col-12">
                        {{form.km_rodados}}
                        {{form.km_rodados.errors}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Leito:</label>
                    <div class="col-12">
                        {{form.leito}}
                        {{form.leito.errors}}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">OK</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}