{% extends 'base.html' %}
{% block conteudo %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Categoria</th>
                        <th>Chassi</th>
                        <th>Qtd_pessoas</th>
                        <th>Km_rodados</th>
                        <th>Leito</th>
                    </tr>
                </thead>
                <tbody>
                    {% for veiculo in veiculos %}
                    <tr>
                        <td>{{veiculo.id}}</td>
                        <td>{{veiculo.categoria}}</td>
                        <td>{{veiculo.chassi}}</td>
                        <td>{{veiculo.qtd_pessoas}}</td>
                        <td>{{veiculo.km_rodados}}</td>
                        <td>{{veiculo.leito}}</td>
                        <td><a href="http://127.0.0.1:8000/viagens/veiculo/{{veiculo.id}}/">Ver</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>Foram cadastrados {{veiculos | length }} veiculos</p>
        </div>
    </div>
</div>
{% endblock %}