{% extends 'base.html' %}
{% block conteudo %}
<h1>Nova Passagem</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <form action="/viagens/passagem/create/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputEmail1">Origem:</label>
                    {{form.origem}}
                    {{form.origem.errors}}
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Destino: </label>
                    <div class="col-12">
                        {{form.destino}}
                        {{form.destino.errors}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Poltrona: </label>
                    <div class="col-12">
                        {{form.poltrona}}
                        {{form.poltrona.errors}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Valor:</label>
                    <div class="col-12">
                        {{form.valor}}
                        {{form.valor.errors}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Data:</label>
                    <div class="col-12">
                        {{form.data}}
                        {{form.data.errors}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}